<!DOCTYPE html>
<html>
<head>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
    <p>The @Model.AdjectiveOne @Model.NounOne entered the @Model.AdjectiveTwo @Model.NounTwo to visit a very @Model.AdjectiveThree @Model.NounThree. "Sit down, @Model.ProperNoun, can I interest you in any good... @Model.NounFour?"</p>
</body>
</html>